{{!-- LOGO --}}
<a href="{{@site.url}}" class="header__logo">
  {{#if @site.logo}}
    <img src="{{@site.logo}}" alt="{{@site.title}}">
  {{else}}
    {{@site.title}}
  {{/if}}
</a>

{{!-- Speech bubble --}}
<div class="header__bubble-wrapper">
  <img
    src="{{asset "img/bulle_blog.png"}}"
    alt="Journal of my creative projects"
    class="header__bubble"
    onClick="javascript:window.open('/about', '_self')"
  >
</div>

{{!-- NAVIGATION --}}
<div class="header__nav">
  {{navigation}}
</div>
