<article class="post-card{{#is "home"}}{{#has index="0"}}-featured{{/has}}{{/is}}">

  {{!-- Si image --}}
  {{#if feature_image}}
  <div class="post-card__image-wrapper{{#is "home"}}{{#has index="0"}} post-card__image-wrapper-featured{{/has}}{{/is}}">
    <a href="{{url}}">
      <img class="post-card__image"
        srcset="{{img_url feature_image size="s"}} 300w,
          {{img_url feature_image size="m"}} 600w,
          {{img_url feature_image size="l"}} 1000w,
          {{img_url feature_image size="xl"}} 2000w"
        sizes="(max-width: 1000px) 400px, 800px"
        src="{{img_url feature_image size="m"}}"
        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
        loading="lazy"
      />
    </a>
  </div>
  {{/if}}
  
  {{!-- Tag, titre, (extrait) et meta --}}
  <div class="post-card__content-wrapper{{#is "home"}}{{#has index="0"}}-featured{{/has}}{{/is}}">

    <div class="post-card-tags">
    {{#primary_tag}}
      <a href="{{url}}" class="post-card__primary-tag{{#is "home"}}{{#has index="0"}} post-card__primary-tag-large{{/has}}{{/is}}">
        {{name}}
      </a>
    {{/primary_tag}}
    </div>

    <a href="{{url}}">
      <h2 class="post-card__title{{#is "home"}}{{#has index="0"}} post-card__title-large{{/has}}{{/is}}">
        {{title}}
      </h2>
    </a>

    {{#is "home"}}
    {{#has index="0"}}
    {{#if excerpt}}
      <div class="post-card__excerpt">{{excerpt}}</div>
    {{/if}}
    {{/has}}
    {{/is}}

    <div class="post-card__meta{{#is "home"}}{{#has index="0"}} post-card__meta-large{{/has}}{{/is}}">
      <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
      {{#if reading_time}}
        <span>· {{reading_time}}</span>
      {{/if}}

      {{#if @site.comments_enabled}}
        {{comment_count}}
      {{/if}}
    </div>

  </div>


</article>