{{!< default}}

<div class="category-comics">

  <h1 class="category__title">{{tag.name}}</h1>

  {{#if tag.description}}
  <p class="category__description category-comics__description">{{tag.description}}</p>
  {{/if}}

  

  {{!-- Series --}}
  <div class="category-comics__serie">

    {{!-- Webtoons --}}
    <a href="/tag/webtoons/" class="category-comics__serie__link">
      <div class="category-comics__serie__thumbnail">
        <h2 class="category-comics__serie__titre">My Webtoons</h2>
        <p class="category-comics__serie__count">{{#get 'posts' filter="tag:webtoons"}}{{posts.length}}{{/get}} comics</p>
        <img
          src="{{asset "img/tag_webtoons.png"}}"
          alt="My Webtoons"
          class="category-comics__serie__illustration"
        />
      </div>
    </a>

    {{!-- Daily comics --}}
    <a href="/tag/daily-comics" class="category-comics__serie__link">
      <div class="category-comics__serie__thumbnail">
        <h2 class="category-comics__serie__titre">Daily comics</h2>
        <p class="category-comics__serie__count">{{#get 'posts' filter="tag:daily-comics"}}{{posts.length}}{{/get}} comics</p>
        <img
          src="{{asset "img/tag_daily.png"}}"
          alt="Daily comics"
          class="category-comics__serie__illustration"
        />
      </div>
    </a>

    {{!-- Scotland --}}
    <a href="/tag/scotland" class="category-comics__serie__link">
      <div class="category-comics__serie__thumbnail">
        <h2 class="category-comics__serie__titre">Trips to Scotland</h2>
        <p class="category-comics__serie__count">{{#get 'posts' filter="tag:scotland"}}{{posts.length}}{{/get}} comics</p>
        <img
          src="{{asset "img/tag_scotland.png"}}"
          alt="Trip to Scotland"
          class="category-comics__serie__illustration"
        />
      </div>
    </a>

    {{!-- Lockdown stories --}}
    <a href="/tag/lockdown" class="category-comics__serie__link">
      <div class="category-comics__serie__thumbnail">
        <h2 class="category-comics__serie__titre">Lockdown stories</h2>
        <p class="category-comics__serie__count">{{#get 'posts' filter="tag:lockdown"}}{{posts.length}}{{/get}} comics</p>
        <img
          src="{{asset "img/tag_lockdown.png"}}"
          alt="Lockdown stories"
          class="category-comics__serie__illustration"
        />
      </div>
    </a>

    {{!-- Pengers --}}
    <a href="/tag/pengers" class="category-comics__serie__link">
      <div class="category-comics__serie__thumbnail">
        <h2 class="category-comics__serie__titre">Pengers the penguin</h2>
        <p class="category-comics__serie__count">{{#get 'posts' filter="tag:pengers"}}{{posts.length}}{{/get}} comics</p>
        <img
          src="{{asset "img/tag_pengers.png"}}"
          alt="Pengers the penguin"
          class="category-comics__serie__illustration"
        />
      </div>
    </a>

    {{!-- Canada --}}
    <a href="/tag/canada" class="category-comics__serie__link">
      <div class="category-comics__serie__thumbnail">
        <h2 class="category-comics__serie__titre">Trip to Canada</h2>
        <p class="category-comics__serie__count">{{#get 'posts' filter="tag:canada"}}{{posts.length}}{{/get}} comics</p>
        <img
          src="{{asset "img/tag_canada.png"}}"
          alt="Trip to Canada"
          class="category-comics__serie__illustration"
        />
      </div>
    </a>

  </div>
</div>