<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
  <title>{{meta_title}}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Stylesheets --}}
  <link rel="stylesheet" href={{asset "css/reset.css"}}>
  <link rel="stylesheet" href={{asset "css/main.css"}}>
  {{!-- Adobe fonts --}}
  <link rel="stylesheet" href="https://use.typekit.net/ppj2aje.css">
  {{ghost_head}}
</head>

<body>
  <div class="page-container">

    <header class="header">
      {{> "header"}}
    </header>

    <main>
      {{{ body }}}
    </main>

  </div>

    <footer>
      {{> "footer"}}
    </footer>

  {{ghost_foot}}
</body>
</html>