<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
  <title>{{meta_title}}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Stylesheets --}}
  <link rel="stylesheet" href={{asset "css/reset.css"}}>
  <link rel="stylesheet" href={{asset "css/main.css"}}>
  {{!-- Adobe fonts --}}
  <link rel="stylesheet" href="https://use.typekit.net/ppj2aje.css">
  {{ghost_head}}
</head>

<body>
  <div class="page-container">

    <header class="header">
      {{> "header"}}
    </header>

    <main>
      {{{ body }}}
    </main>

  </div>

    <footer>
      {{> "footer"}}
    </footer>

  <script src="{{asset "js/script.js"}}"></script>
  
  <!-- Default Statcounter code for Candy Gets Handy https://candygetshandy.com -->
    <script type="text/javascript">
      var sc_project=12805720; 
      var sc_invisible=1; 
      var sc_security="09f77d99"; 
    </script>
    <script type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js"
      async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/12805720/0/09f77d99/1/"
    alt="Web Analytics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->

  {{ghost_foot}}
</body>
</html>